<div class="row section topspace">
  
  <!-- / Left Section with Photo -->
  <div class="col-md-4">
        <p class="text-center">
			    <img class="img-circle" src="{{ .Site.BaseURL }}images/main-photo.jpg" alt="">
			   </p>
    </div>
  
  <!-- / Right Section with text -->

    <div class="col-md-8">
        <p class="lead text-center text-muted">
            Let me tell you something my friend. hope is a dangerous thing. hope can drive a man insane. you <a href="#">measure</a> yourself by the people who measure themselves by you. it only took me <a href="#">six days</a>.
        </p>
    </div>
</div> <!-- / section -->
