<div class="row section topspace">
  
  <!-- / Left Section with Photo -->
  <div class="col-md-4">
        <p class="text-center">
			    <img class="img-circle" src="{{ .Site.BaseURL }}images/main-photo.jpg" alt="">
			   </p>
    </div>
  
  <!-- / Right Section with text -->

    <div class="col-md-8">
        <p class="lead text-muted">
            I’m a fisheries researcher for the <a href="http://sfg.msi.ucsb.edu/">Sustainable Fisheries Group</a>at the <a href="https://www.ucsb.edu/">University of California, Santa Barbara</a> (UCSB). Most of my recent work has been with bioeconomic modeling of tuna fisheries in the Pacific Ocean. I earned my Masters in Environmental Science and Management (MESM) in 2016 from the <a href="https://www.bren.ucsb.edu/">Bren School of Environmental Science and Management</a>at UCSB. My thesis was on the effects of seafood certifications in small-scale fisheries. Prior to that I worked as a Waterfront Assistant at the School for Field Studies’ Center for Marine Resource Studies in the Turks and Caicos Islands and graduated with a Bachelor of Arts degree in Biochemistry and Environmental Science from the University of San Diego in 2013.
        </p>
    </div>
</div> <!-- / section -->
